{% extends "./base.html"%}

{% load static %}

{% block body%}


<!--Agregar un proveedor-->


{% if messages %}
            {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>  
                    {% elif message.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>  
                    {% endif %}                
            {% endfor %}
        
{% endif %}

   
    <div class="container mt-3">
        <h1>Agregar proveedor</h1>
        <form id="formAgregar" action="{%url 'agregar_proveedor' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="txtNombreProveedor">Nombre:</label>
                    <input name="txtNombreProveedor" id="txtNombreProveedor" type="text" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="txtTelefono">Telefono de contacto:</label>
                    <input name="txtTelefono" id="txtTelefono" type="number" class="form-control">
                </div>


                <div class="col-md-6">
                    <label for="txtCorreo">Correo electronico:</label>
                    <input name="txtCorreo" id="txtCorreo" type="text" class="form-control">
                </div>

                <div class="col-md-12">
                    <label for="txtDatosExtras">informacion extra:</label>
                    <input name="txtDatosExtras" id="txtDatosExtras" type="text" class="form-control">
                </div>

            </div>
            <button class="btn btn-success mt-5 w-100">Agregar proveedor</button>
        </form>
    </div>

    


<!--Lista de productos para eliminar y editar-->
<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID Proovedor</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
        </thead>
        <tbody>
           {% for p in proveedores %}
          <tr>
            <th scope="row">{{p.id_proveedor}}</th>
            <td>{{p.nombre_proveedor}}</td>
        
            <td>{{p.correo_electronico}}</td>
            <td>{{p.telefono}}</td>
            <td><a href="{% url 'editar_proveedor' p.id_proveedor   %}" class="btn btn-primary">Editar</a></td>
            <td><a href="{% url 'eliminar_proveedor' p.id_proveedor %}" class="btn btn-danger">Eliminar</a></td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
</div>




{% endblock %}