{% extends './base.html' %}

{% load static %}

{% block body %}

   

    <div class="container">
        <h1>Editar producto</h1>
        <form action="{% url 'editar_producto' producto.pk %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <label for="txtSku">Id de producto:</label>
                    <input readonly value="{{producto.id_producto}}" name="txtSku" id="txtSku" type="text" class="form-control" readonly>
                </div>

                <div class="col-md-8">
                    <label for="txtnombre">Nombre:</label>
                    <input value="{{producto.nombre_producto}}" name="txtnombre" id="txtnombre" type="text" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="txtprecio">Precio:</label>
                    <input value="{{producto.precio}}" name="txtprecio" id="txtprecio" type="text" class="form-control">
                </div>


                <div class="col-md-6">
                    <label for="txtStock">Stock:</label>
                    <input value="{{producto.stock}}" name="txtStock" id="txtStock" type="text" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="cmbCategoria">Categoria:</label>
                    <select id="cmbCategoria" name="cmbCategoria" class="form-select" aria-label="Default select example">
                        <option disabled selected>Seleccione</option>
                        {% for c in categorias %}
                        <option value="{{c.id_categoria}}" {% if c.id_categoria == producto.categoria.id_categoria %} selected {% endif %} >{{c.nombre_categoria}}</option>
                        {% endfor %}
                      </select> 
                </div>

                <div class="col-md-6">
                    <label for="cmbProveedor">Proveedor:</label>
                    <select id="cmbProveedor" name="cmbProveedor" class="form-select" aria-label="Default select example">
                        <option disabled selected>Seleccione</option>
                        {% for pro in proveedores %}
                        <option value="{{pro.id_proveedor}}" {% if pro.id_proveedor == producto.proveedor.id_proveedor %} selected {% endif %} >Nombre: {{pro.nombre_proveedor}} - Rubro: {{pro.rubro.nombre_rubro}}</option>
                        {% endfor %}
                      </select> 
                </div>

                <div class="col-md-12">
                    <label for="txtDescripcion">Descripcion:</label>
                    <input value="{{producto.descripcion}}" name="txtDescripcion" id="txtDescripcion" type="text" class="form-control">
                </div>



                <div class="col-md-12">
                    <label for="txtImagen">Imagen:</label>
                    <img src="{{producto.imagenUrl.url}}" height="100" alt="">

                    <input name="txtImagen" id="txtImagen" type="file" class="form-control" value="null">
                </div>
            </div>
            <button class="btn btn-success mt-5 w-100">Editar producto</button>
        </form>
    </div>

{% endblock %}