{% extends "./base.html"%}

{% load static %}

{% block css%}

<link rel="stylesheet" href="{% static 'css/carousel.css' %}">


{% endblock %}

{% block body%}

<!--Mensajes-->

{% if messages %}
            {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>    
                    {% elif message.tags == 'success' %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>  
                    {% elif message.tags == 'warning' %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>  

                    
                    {% endif %}
                
            {% endfor %}
        
    {% endif %}



<!--Mensajes-->
<div id="myCarousel" class="carousel slide carousel-fade" data-bs-target="carousel" data-bs-ride="carousel">
  <ol class="carousel-indicators">
    <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
    <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <div class="overlay-image" id="overlay-image-flores"></div>
      <div class="container">
        <h1>Productos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ad fugiat, consequuntur sequi voluptas
          ipsum perferendis laudantium officiis tempora optio nam. Beatae voluptatum assumenda facere, quibusdam
          cupiditate dignissimos possimus! Possimus?</p>
        <a href="productos" class="btn btn-lg btn-primary">
          Ver lista de productos
        </a>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <div class="overlay-image" id="overlay-image-macetero"></div>
      <div class="container">
        <h1>Quienes somos</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ad fugiat, consequuntur sequi voluptas
          ipsum perferendis laudantium officiis tempora optio nam. Beatae voluptatum assumenda facere, quibusdam
          cupiditate dignissimos possimus! Possimus?</p>
      </div>
    </div>
  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>

</div>



<div class="container mt-5 text-center" >
    <h1>Productos destacados</h1>
    <div class="row row-cols-3">        
        {% for p in productos %}
        <div class="col mt-2">
            <div class="card" style="width: 18rem;">
                <img src="{{p.imagenUrl.url}}" class="card-img-top" alt="..." height="150px" width="100px">
                <div class="card-body">
                    <h5 class="card-title">{{p.nombre_producto}}</h5>
                    <p class="card-text">${{p.precio}}</p>
                    <a href="producto/{{p.pk}}" class="btn btn-primary">Ver servicio</a>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>



<hr>
<div class="container mt-3 text-center">
  <h1>Ubicanos en: Cabo de hornos 1964</h1>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1662.1021800704787!2d-70.60695394828814!3d-33.57404286996478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662d74e9aa509df%3A0x53e4fe87a2e03480!2sCabo%20de%20Hornos%201964%2C%208152067%20Puente%20Alto%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1715135328648!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


{% endblock %}


{% block script %}


{% endblock %}


