{% extends "./base.html"%}

{% load static %}

{% block css%}

<link rel="stylesheet" href="{% static 'css/carousel.css' %}">


{% endblock %}

{% block body%}

  


<div class="container mt-5 text-center" >
    <h1>Productos en venta</h1>
    <div class="row">        
        {% for p in productos %}
       


        <div class="card mb-3">
          <img src="{{p.imagenUrl.url}}" class="card-img-top" alt="..." height="200px">
          <div class="card-body">
            <h5 class="card-title">{{p.nombre_producto}}</h5>
            <p class="card-text">${{p.precio}}</p>
            <p class="card-text">{{p.descripcion}}</p>
            <a href="producto/{{p.pk}}" class="btn btn-primary">Ver servicio</a>
          </div>
        </div>
        
        {% endfor %}


    </div>


</div>


{% endblock %}


{% block script %}



{% endblock %}


