{% extends "./base.html"%}

{% load static %}

{% block body%}
<!--Registrar un empleado-->

    <div class="container">
        <h1>Registro</h1>
        <form id="formAgregar" action="registro_cliente/registroClienteForm" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="txtRut">Rut:</label>
                    <input name="txtRut" id="txtRut" type="text" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="txtnombre">Nombre:</label>
                    <input name="txtnombre" id="txtnombre" type="text" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="txtApPat">Apellido paterno:</label>
                    <input name="txtApPat" id="txtApPat" type="text" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="txtApMat">Apellido materno:</label>
                    <input name="txtApMat" id="txtApMat" type="text" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="txtNumero">Numero de contacto:</label>
                    <input name="txtNumero" id="txtNumero" type="number" class="form-control">
                </div>

                <div class="col-md-6">
                    <label for="txtCorreo">Correo electronico:</label>
                    <input name="txtCorreo" id="txtCorreo" type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="txtPassword">Contraseña:</label>
                    <input name="txtPassword" id="txtPassword" type="text" class="form-control">
                </div>

                <div class="col-md-12">
                    <label for="txtDireccion">Direccion de vivienda:</label>
                    <input name="txtDireccion" id="txtDireccion" type="text" class="form-control">
                </div>
                

            </div>
            <button class="btn btn-primary mt-5 w-100">Registrarse</button>
        </form>
    </div>





{% endblock %}