{% extends "taller/base.html"%}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/checkout.css' %}">

{% endblock %}


{% block body %}

<div id="div-tittle" class="container-fluid text-center">
    <br>
    <br>

    <H1>Resumen de compra</H1>

    <br>
    <br>
</div>
  


<div class="container container-fluid mt-5">
    <div class="card text-center">
        <div class="card-body">
            <h4 class="card-title">Resumen de carrito: </h4>
            
            
            <ul class="list-group list-group-flush">
                {% for p in productos %}
                {% for key, value in cantidades.items %}
                {% if key == p.pk|slugify%}
                
                <li class="list-group-item">Producto: <strong>  {{p.nombre_producto}} </strong> - Precio: <strong>${{p.precio}}</strong> - Cantidad:  <strong>{{value}} </strong> </li>    
                {% endif %}
                
            {% endfor %}
                
                {% endfor %}    
            </ul>
            
                
            <hr>
            <p class="card-text">Total: <strong>${{total_carrito}}</strong></p>
            <a href="{% url 'carrito' %}" class="btn btn-secondary mt-2">Volver al carrito</a>
            <a href="{% url 'payment_checkout' %}" class="btn btn-primary mt-2">Continuar proceso compra</a>

        </div>
    </div>
</div>


    
{% endblock %}


{% block script %}



{% endblock %}

